<div class="main">
    <mat-card>
        <mat-card class="message" *ngFor="let msg of msgs" color="accent">
            <mat-card-subtitle>{{msg.name}}</mat-card-subtitle>
            <mat-card-title>{{msg.content}}</mat-card-title>
        </mat-card>
    </mat-card>
    <form (submit)="sendMessage($event, message.value)">
        <input class="inp" type="text" name="message" placeholder="type your message here" #message>
        <br><br>
        <button mat-raised-button color="primary">Send Message</button>
        <button mat-button color="warn" (click)="reopen()">switch details</button>
    </form>
</div>