.message {
    
}
.main {
    margin: 20px;
}

.inp {
    width: 100%;
    align-self: center;
    margin-top: 20px;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 0.5px 0.5px 1px 1px rgb(189, 189, 189);
}

.inp:focus {
    outline: none;
}