<div class="main">
    <div>
        <mat-card class="message" *ngFor="let msg of msgs" >
            <mat-card-title>{{msg.content}}</mat-card-title>
            <mat-card-subtitle>{{msg.name}}</mat-card-subtitle>
        </mat-card>
    </div>
    <form (submit)="sendMessage($event, message.value)" style="text-align: center;">
        <input class="inp" type="text" name="message" placeholder="type your message here" #message>
    </form>
    <br>
    <button mat-raised-button color="warn" (click)="reopen()">change nickname</button>
</div>